TOKEN=MzI2NjAzODUzNzM2ODM3MTIx.Dgo9Jg.K_9uN_D6H6jYIJ9WuiY7J_W_ULc
DBL_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjI3NzAyMDcyNzA0MjExMzUzNiIsImJvdCI6dHJ1ZSwiaWF0IjoxNTE4NTIzODk4fQ.q0iGYkuVAWiG8ZVVqQ60YSi2KR0jbqZBrqxzFEASipQ
CAT_KEY=MzIwMTI5
PREFIX===
OWNER_ID=167927608191746048
BOT_ID=326603853736837121
REDIS_URL=localhost
LAVALINK_PASSWORD=12345
LAVALINK_REST=http://172.17.0.2:2333
LAVALINK_WS=ws://172.17.0.2:9090
STATSD=
STATSD_HOST=stats_server
STATSD_PORT=8125
STATSDW_PREFIX=W
GW_PORT=7000
GW_HOST=127.0.0.1
